# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# vscode
.vscode

# Environment   
.env
.dotenv

# misk
.DS_Store
/Architecture

# java spring boot
*.jar
*.war
*.ear
*.zip
*.rar
*.7z
*.tar

*.gz
*.bz2
*.xz
*.lwp
*.z
*.cab
*.iso
*.img
*.vhd
*.vhdx
*.vdi


backend/target/
